## Задача 1:

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе, при помощи использования kwargs

In [20]:
def stock (**kwargs):
    summa=0
    for i in kwargs.values():
        summa+=i
    return (f'Общее количество фруктов: {summa}')

In [141]:
stock(apple=20, lemon = 10)

'Общее количество фруктов: 30'

## Задача 2:

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [142]:
list = [100, 125, -90, 345, 655, -1, 0, 200]
for i in list:
    if i < 0:
        list.remove(i)
print(list)
print(sum(list))

[100, 125, 345, 655, 0, 200]
1425

In [143]:
list = [100, 125, -90, 345, 655, -1, 0, 200]
result = sum([i for i in list if i > 0])
result

1425

## Задача 3:

**Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']**

**Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]**

4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [144]:
purchase_date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sum_date = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [145]:
overall=0
for i in range(len(purchase_date)):
    if purchase_date[i].split('-')[1]=='11':
        overall+=sum_date[i]
f'Общая выручка у компании в ноябре = {overall}'

'Общая выручка у компании в ноябре = 25098'

In [146]:
result = sum([sum_date[i] for i in range(len(purchase_date)) if purchase_date[i].split('-')[1]=='11'])
f'Общая выручка у компании в ноябре = {result}'

'Общая выручка у компании в ноябре = 25098'

4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов

In [147]:
def revenue_in_month(dates=list, revenue=list) -> dict:
    overall_revenue_in_months={}
    for i in range(len(dates)):
        month=dates[i].split('-')[1]
        if month in overall_revenue_in_months:
            overall_revenue_in_months[month]+=revenue[i]
        else:
            overall_revenue_in_months[month]=revenue[i]
    return overall_revenue_in_months

In [148]:
revenue_in_month(purchase_date,sum_date)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}